In [1]:
import pandas as pd
df = pd.read_csv("/home/orlando_linux/alura_challange/csv_gold/csv_info_clean.csv",parse_dates=['Month-Year'])

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314796 entries, 0 to 314795
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ANO                314796 non-null  int64
 1   MES                314796 non-null  int64
 2   SENADOR            314796 non-null  object
 3   TIPO_DESPESA       314796 non-null  object
 4   CNPJ_CPF           314796 non-null  object
 5   FORNECEDOR         314796 non-null  object
 6   DOCUMENTO          293132 non-null  object
 7   DATA               314796 non-null  object
 8   DETALHAMENTO       180610 non-null  object
 9   VALOR_REEMBOLSADO  314796 non-null  float64
 10  COD_DOCUMENTO      314794 non-null  float64
 11  Month-Year         314796 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(2), object(7)
memory usage: 28.8+ MB

In [3]:
import pandas as pd

# Assuming df is your DataFrame with columns 'Name', 'Date', and 'Spending'

# Create a pivot table
pivot_df = pd.pivot_table(df, values='VALOR_REEMBOLSADO',
                           index='SENADOR', columns='ANO', aggfunc='sum', 
                          fill_value=0, margins=True, margins_name='Total')

# Display the pivot table
pivot_df.tail(10)

ANO,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,Total
SENADOR,,,,,,,,,,,,,,,
WEVERTON ROCHA,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,386665.17,333351.22,446907.86,299560.59,1.466485e+06
WILDER MORAIS,0.00,0.00,0.00,67136.14,180251.56,117540.17,251615.40,252542.40,246647.87,159069.64,20887.38,0.00,0.00,0.00,1.295691e+06
WILSON SANTIAGO,0.00,0.00,282758.27,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2.827583e+05
WIRLANDE DA LUZ,0.00,0.00,0.00,0.00,0.00,0.00,0.00,11298.25,0.00,0.00,0.00,0.00,0.00,0.00,1.129825e+04
ZENAIDE MAIA,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,361706.70,291152.47,292967.39,427092.42,1.372919e+06
ZEQUINHA MARINHO,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,444688.20,390799.33,470226.88,392426.31,1.698141e+06
ZEZÉ PERRELLA,0.00,0.00,161942.97,335890.42,222520.97,254646.81,342602.44,328910.96,339507.16,312714.95,7961.09,0.00,0.00,0.00,2.306698e+06
ZÉ SANTANA,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,23300.67,38678.43,0.00,0.00,0.00,6.197910e+04
ÂNGELA PORTELA,0.00,0.00,380769.17,414270.32,420982.53,382400.15,416301.04,429605.98,424367.34,485806.44,39411.85,0.00,0.00,0.00,3.393915e+06
Total,8931061.81,10760010.57,19004502.48,23354742.37,24658952.86,22519394.12,28876102.51,25298180.22,26668183.23,25603401.33,25247971.14,20413773.60,25019983.94,27293128.60,3.136494e+08

ANO,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
SENADOR,,,,,,,,,,,,,,
WELLINGTON SALGADO DE OLIVEIRA,130118.21,44478.63,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
WEVERTON ROCHA,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,386665.17,333351.22,446907.86,299560.59
WILDER MORAIS,0.00,0.00,0.00,67136.14,180251.56,117540.17,251615.40,252542.40,246647.87,159069.64,20887.38,0.00,0.00,0.00
WILSON SANTIAGO,0.00,0.00,282758.27,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
WIRLANDE DA LUZ,0.00,0.00,0.00,0.00,0.00,0.00,0.00,11298.25,0.00,0.00,0.00,0.00,0.00,0.00
ZENAIDE MAIA,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,361706.70,291152.47,292967.39,427092.42
ZEQUINHA MARINHO,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,444688.20,390799.33,470226.88,392426.31
ZEZÉ PERRELLA,0.00,0.00,161942.97,335890.42,222520.97,254646.81,342602.44,328910.96,339507.16,312714.95,7961.09,0.00,0.00,0.00
ZÉ SANTANA,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,23300.67,38678.43,0.00,0.00,0.00
ÂNGELA PORTELA,0.00,0.00,380769.17,414270.32,420982.53,382400.15,416301.04,429605.98,424367.34,485806.44,39411.85,0.00,0.00,0.00

In [47]:
(df[df['Year']==2107]).head()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO,Year
204793,2017,9,JOAO ALBERTO SOUZA,"Passagens aéreas, aquáticas e terrestres nacio...",16.978.175/0001-08,ADRIA VIAGENS E TURISMO LTDA,CJIRVG,2107-08-29,"Companhia Aérea: GOL, Localizador: CJIRVG. Pas...",1184.79,2076233.0,2107

In [5]:
df['TIPO_DESPESA'].unique()

array(['Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.',
       'Divulgação da atividade parlamentar',
       'Locomoção, hospedagem, alimentação, combustíveis e lubrificantes',
       'Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar',
       'Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos. ',
       'Passagens aéreas, aquáticas e terrestres nacionais',
       'Serviços de Segurança Privada',
       'Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos.'],
      dtype=object)